
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Complementary Colors
*/

:root {
--main-font-color:  #DA8E03;
--secondary-font-color:#9B7E46;
--button-background-color: #F4B266;
--complementary-color-1:  #02394A;
--complementary-color-2: #043565;
--background-color-1: #E2EFDE;
--background-color-2:  #808F87;
--background-color-3:  #AFD0BF;

}
  


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'League Spartan', sans-serif;
  /* font-family: 'Open Sans', sans-serif; */
  font-weight: 700;
  color: black;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  margin-bottom: 80px;

}

/* -----  Main Container ------ */
.container {
  min-height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 1200px;
  padding: 20px 25px 20px 25px;
  justify-content: center;
  margin: 0 auto;

}


/* ------ Navbar ------ */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background: #e3e6f3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 9999;
}

#logo {
  text-decoration: none;
  border-radius: 50%;

}

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  color: #1a1a1a;
  font-weight: 600;
  font-size: 18px;
}

#navbar li a:hover {
  color: var(--main-font-color);
  transition: 0.24s;
}

#navbar li a:hover,
#navbar li a.active {
  color: var(--main-font-color);
}

/* underline and underline on hover */
#navbar li a:hover::after
{
  content: ' ';
  height: 2px;
  width: 40%;
  position: absolute;
  background-color: var(--main-font-color);
  left: 20px;
  bottom: -4px;
}

#close {
  display: none;
}

#mobile {
  display: none;
}

/* ---- Navbar Media Queries ---- */ 
@media (max-width: 799px) {
  #header {
    padding-left: 40px;
    padding-right: 40px;
  }

  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    height: 100vh;
    width: 230px;
    right: -300px;
    background-color: #e3e6f3;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.01);
    padding: 80px 0  0 10px;
    transition: ease-in 0.3s;
  }

  /* --- activate is a JS class -- */
  #navbar.activate {
    right: 0;
  }

  #navbar li {
    margin-bottom: 25px;
  }


  /* Actual Mobile Responsive Div */
  #mobile {
   display: flex;
   align-items: center;
   justify-content: flex-end;
   margin: 0;
   margin-left: 10px;
   width: 30%;
  }

  #mobile i {
    font-size: 24px;
    padding-right: 12px;
    color: #000;
  }

  #mobile #bar {
    font-size: 24px;
    padding: 15px;
    color: #000;
  }

  #mobile .moon {
    padding: 0 5px;
    text-decoration: none;
  }

  #close {
    display: initial;
    position: absolute;
    top: 30px;
    left: 30px;
    font-size: 18px;
    color: #222;
  }


  @media (max-width: 477px) {
    #header {
      padding: 10px 25px;
    }

    #navbar {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      position: fixed;
      top: 0;
      right: -300px;
      height: 100vh;
      width: 200px;
      box-shadow: 0 40px 60px rgba(0, 0, 0, 0.01);
      transition: ease-in-out 0.3s;
    }
  }
}
/* End of Navbar */



/* Hero Section */ 

.hero {
  margin-top: 100px;
  display: flex;
  margin: 50px 70px 30px 60px;
  display: flex;
  justify-content: space-between;
}

.hero .content {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  height: 400px;
  align-items: left;
  justify-content: center;
  padding-right: 25px;
  
}

.hero .self-photo {
  flex: 1;
  color: var(--main-font-color);
  
}

.hero .content .hello {
  font-size: 24px;
  padding-bottom: 5px;
}

.hero .content .name {
  margin-top: 25px;
}

.hero .content .job {
  margin-top: 15px;
}

.hero .content .name, 
.hero .content span {
  font-size: 70px;
}

.hero .content span {
  color: var(--main-font-color);
}

.hero .content .value {
  font-size: 17px;
  padding-top: 10px;
  padding-bottom: 30px;
}

.hero .content .name {
  align-items: left;
}

.hero .content .job {
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.hero .content .value {
  font-weight: normal;
  line-height: 1.4;
  font-size: 19px;
  margin-bottom: 20px;
}


.hero .content .btn.hero-button  {
  display:  inline-block;
  padding: 15px 25px;
  border-radius: 25px;
  border: none;
  background-color: var(--main-font-color);
  color: white;
  font-size: 18px;
  transition: 300ms ease-in;
  cursor: pointer;
  width: 200px;
  text-align: center;
  box-shadow: 0 3px 10px rgba(0,0,0,0.06);
  
}

.hero .content .btn.hero-button:hover {
  background-color: var(--complementary-color-1);
  color: #ffffff;
  border-color:var(--complementary-color-1);
  text-decoration: none;
}

.hero .self-photo {
  width: 400px ;
  height: 400px;
  padding-left: 30px;
  align-items: center;
  justify-content: center;
}

.hero .self-photo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  align-items: center;
  justify-content: center;
}


/* ---- Navbar Media Queries ---- */ 
@media (max-width: 799px) {
   .hero {
    margin-top: 30px;
    padding: 30px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    text-align: center;
   }

   .hero .content {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 80%;
    height: 80%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
   }

   .hero .self-photo {
     padding-left: 0;
     margin-right: 25px;
   }
 
   .hero .self-photo img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 350px;
    align-items: center;
    object-fit: contain;
    margin: 0 auto;
    border: none;
  
  
   }

   .hero .content .name,
   .hero .content span {
    font-size: 55px;
   }

   .hero .content .value {
    font-weight: 400;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    line-height: 1.4;
    text-align: center;
   }
}


@media (max-width: 477px) {
  .hero {
    margin-top: 30px;
    padding: 30px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    text-align: center;
   }

   .hero .content {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 80%;
    height: 80%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;
   }

   .hero .content .name,
   .hero .content span {
    font-size: 44px;
    padding-top: 10px;
    text-align: center;
   }
 
   .hero .self-photo img {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 30%;
    align-items: center;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    margin: 0 auto;
    border: none;
  
   }


   .hero .content .value {
    font-weight: 400;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    line-height: 1.4;
    text-align: center;
   }
}

/* End of Hero Section */


/* Skills Section */
.skills-wrapper {
  margin-top: 180px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.skills-wrapper .skills-header {
  margin-top: 30px;
  gap: 30px;
  text-align: center;
  align-items: center;
  justify-content: center;

}

.skills-wrapper .skills-header .skills {
  font-size: 25px;
  margin-bottom: 12px;
  color: var(--main-font-color);
}

.skills-wrapper .skills-header .my__skills {
  margin-top: 20px;
  font-size: 35px;
}



.skills-container {
  justify-content: center;;
  padding: 56px 0;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}



.skills-card {
  padding: 30px 0;
  margin: 40px;
  border-color: rgb(141, 141, 141);
  width: 280px;
  height: 165px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  text-align: center;
  border-radius: 5px;
  justify-content: space-between;
  transition: transform 500ms ease;
  border: 0.3px solid rgb(233, 231, 231);
}

.skills-card:hover {
  transform: scale(1.05);

}

.skills-card p {
  font-weight: 800;
  font-size: 22px;
  margin-top: 15px;
  justify-content: center;
  text-align: center;
}


.skills-card img {
  margin-top: 10px;
  width: 45px;
  height: 45px;
}

@media (max-width: 799px) {
}


@media (max-width: 477px) {
  .skills-wrapper {
    margin: 0 auto;
    padding: 0px;
  }

  .skill-container {

    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0 auto;

  }

  .skills-card {
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
}
/* End of Skills Section */


/* About me */
.about-me {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  padding-top: 150px;;
  padding-bottom: 100px;
  gap: 6px;
}

.about-me-title {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align:  center;
  vertical-align: middle;
  margin: 40px 0 40px 0;
  
 
}

.about-me-title .title {
  display: inline-block;
  font-size: 32px;
  text-align:  center;
  position: relative;
  width: 40%; /* heading with is 40% of parent element */
  padding-bottom: 6px;
} 


.about-me-title .title::after {
  content: ' ';
  position: absolute;
  bottom: 0; 
  left: 35%; /* sets to 35% left of the parent container */ 
  height: 3px;
  width: 50%; /* sets underline width to 50% of parent element */
  transform: translateX(-35%); /* this allows us to keep the same x position relative to its parent when resizing */
  height: 3px;
  background-color: var(--main-font-color);
  
}

.about-me .bio {
  flex: 1.5;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  margin: 40px 0 40px 0;
}


.about-me .bio .bio-info {
    font-family: 'League Spartan', serif;
    overflow-x: hidden;
    width: 80%;
    font-size: 19px;
    line-height: 30px;
    word-wrap: break-word;
    font-weight: normal;
    background-color: #fff;
    text-align: left;
    color: #43414b;
    line-height: 1.6;
    
}


.bio > button {
  display: inline-block;
  padding: 15px 25px;
  border-radius: 25px;
  border: none;
  background-color: var(--main-font-color);
  color: white;
  font-size: 18px;
  margin-top: 30px;
  transition: 300ms ease-in;
  cursor: pointer;
  width: 200px;
  box-shadow: rgba(0, 0, 0, 0.06);
}

.bio > button:hover {
  background-color: var(--complementary-color-1);
  color: #ffffff;
  border-color:var(--complementary-color-1);
  
}

@media (max-width: 799px) {
  .about-me {
    margin-top: 30px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    text-align: center;
  }

  .about-me-title {
    display: flex;
    align-items: center;
    width: 100%;
    border: none !important;
  }

  .about-me-title .title {
    align-items: center;
  }

  .about-me .bio {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    height: 80%;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-left: 0px !important;
    padding-left: 0px !important;
  
  }

  .about-me .bio .bio-info {
    text-align: center;
    width: 100%;
  }

  .about-me .bio button {
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 477px) {
  .about-me {
    margin-top: 30px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    text-align: center;
    margin-bottom: 100px;
  }

  .about-me-title {
    display: flex;
    align-items: center;
    width: 100%;
    border: none !important;
  }

  .about-me-title .title {
    align-items: center;
    margin-bottom: 10px;
  }

  .about-me .bio {
    padding-top: 2px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-left: 0px !important;
    padding-left: 0px !important;
  
  }

  .about-me .bio .bio-info {
    text-align: center;
    width: 100%;
   
  }

  .about-me .bio button {
    align-items: center;
    justify-content: center;
  }

  .about-me-title .title::after {
    content: ' ';
    position: absolute;
    bottom: 0; 
    left: 30%; /* sets to 35% left of the parent container */ 
    height: 3px;
    width: 60%; /* sets underline width to 50% of parent element */
    transform: translateX(-30%); /* this allows us to keep the same x position relative to its parent when resizing */
    height: 3px;
    background-color: var(--main-font-color);
    
  }
}

/* End of About me */


/* Porfolio */
.portfolio {
 justify-content: center;
 margin: 0 auto;
 margin-bottom: 100px;
 padding-bottom: 50px;
}

.portfolio-title  {
  margin-top: 110px;
  text-align: center;
}

.portfolio-title h3 {
  font-size: 25px;
  margin-bottom: 12px;
  color: var(--main-font-color);
  align-items: center;
}

.portfolio-title  h2 {
  font-size: 35px;
  align-items: center;
  text-align: center;
}


.portfolio-filter {
  display: flex;
  align-items: center;
  padding: 50px 0px;
  text-align: center;
  justify-content: center;
  font-size: 14px;  
}

.portfolio-heading {
  padding: 0px 15px;

}

.portfolio-heading .active {
  color: var(--main-font-color);
}

.portfolio-filter  a {
  text-decoration: none;
  padding: 16px;
}

.portfolio-filter  a:hover {
  transition: 200ms ease;
  color: var(--main-font-color);
}

/* Portfolio list */
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 90px;
}

.portfolio-container {
  border: 1px solid black;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  
}

.portfolio-card {
  border: 1px solid var(--main-font-color);
  width: 346px;
  height: 462px;
  border-radius: 6px;
  text-decoration: none;
  justify-content: center;
  text-align: center;
  margin: 20px 5px;
  
}


.portfolio-card a {
text-decoration: none;
vertical-align: middle;
}

.portfolio-card a:hover {
  
}


/* End of Portfolio list */
/* End of Portfolio*/

/* Porfolio  v2*/
.portfolio-container {
 padding: 50px 0px 185px;
 width: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 margin: 40px auto;
}

li {
  list-style: none;
}

.portfolio-container ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
  gap: 25px;
}

.portfolio-container ul li {
  letter-spacing: 1px;
  padding: 5px 15px;
  cursor: pointer;
  margin: 5px;
  border-bottom: 3px solid transparent;
  font-weight: 400;
  font-size: 18px;
}

.portfolio-container ul li.active {
  border-color: #772fed;
  color: #8874ef;
}

.portfolio {
  display: flex;

  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.portfolio .itembox {
  position: relative;
  width: 346px;
  height: 460px;
  margin: 5px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  gap: 15px;
  display: block;
}

.portfolio .itembox img {
  position: absolute;
  width: 100%;
  height: 100%;
  /* object-fit: cover */
  object-fit: contain;
  left: 0;
  top: 0;
  cursor: pointer;
  border-radius: 3px;
}

.portfolio-container .portfolio .itembox.show {
  animation: show .5s ease 0s 1 forwards;
  transform-origin: center;
}

.portfolio-container .portfolio .itembox.hide {
  animation: hide .5s ease 0s 1 forwards;
  transform-origin: center;
}

@keyframes show {
  0% {
    transform: scale(0);
    width: 0;
    height: 0;
    margin: 0;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes hide {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
    width: 0;
    height: 0;
    margin: 0;
  }
}

/* @media(max-width: 468px) {
  .portfolio .itembox {
    width: 320px;
    height: 420px;
  }
} */



/* Porfolio  v2*/

/* Footer */
.footer {
display: flex;
justify-content: start;
align-items: left;
text-align: left;
padding-bottom: 50px;
width: 100%;
height: 100%;

}

.footer-details {
padding-left: 0;
top: 0;

}

.footer-details p {
 align-items: left;
  font-size: 16px;
  display: block;
  color: black;
  
}

.icons i {
  margin-top: 15px;
  margin-right:6px;
  font-size: 28px;
  justify-content: center;
  background-color: #ffffff;
}

/* End of Footer */